{% extends 'base.html' %}
{% block content %}
<p><h2><a href="{% url 'editpost' news.pk %}">Tahrirlash</a></h2></p>
<p><h2><a href="{% url 'deletepost' news.pk %}">O'chirish</a></h2></p>
<main class="container mt-3 mb-5">
  <div class="row my-3">
    <div class="col-md-8">
      <div class="card mb-3">
        <img src="/media/{{ news.image }}" class="card-img-top" alt="{{ news.title }}">
        <div class="card-body">
          <h5 class="card-title">{{ news.title }}</h5>
          <p class="card-text">{{ news.text }}</p>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
